# ==== Core ====
NODE_ENV=development
APP_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ar3ar?schema=public
REDIS_URL=redis://localhost:6379

# ==== Auth (NextAuth) ====
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-openssl-rand-hex-32
ADMIN_SEED_EMAIL=admin@ar3ar.ma
ADMIN_SEED_PASSWORD=ChangeMe!2024

# ==== CMI (Centre Monétique Interbancaire) ====
CMI_CLIENT_ID=xxxxxx
CMI_STORE_KEY=xxxxxx
CMI_GATEWAY_URL=https://testsecure.monetico-services.com/test_payment
CMI_CALLBACK_URL=http://localhost:3000/api/payments/cmi/callback

# ==== Stripe ====
STRIPE_SECRET_KEY=sk_test_xxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxx
STRIPE_MAD_TO_EUR_RATE=0.0025

# ==== WhatsApp Business Cloud API ====
WHATSAPP_TOKEN=EAAxxxxxxxx
WHATSAPP_PHONE_ID=xxxxxxxx
WHATSAPP_API_VERSION=v19.0
WHATSAPP_VERIFY_TOKEN=ar3ar-verify-token
WHATSAPP_BOT_WA_NUMBER=2126xxxxxxxx

# ==== Cloudinary ====
CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx

# ==== Meilisearch ====
MEILISEARCH_HOST=http://localhost:7700
MEILISEARCH_MASTER_KEY=masterKey

# ==== Scraper ====
SCRAPER_OWNER_EMAIL=scraper@ar3ar.ma
SCRAPER_URL=https://www.avito.ma/fr/maroc/appartements-%C3%A0-vendre
SCRAPER_MAX_PAGES=1
SCRAPER_PROXY_URL=
